<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}

<p style="color:green; font-size:12px; text-align:center">
    ____________ ¶¶¶_______¶¶¶¶_______________________<br>
    __________¶¶¶¶¶¶¶¶¶¶__¶¶¶¶¶¶______________________<br>
    _________ ¶¶____¶¶¶¶__¶¶__¶¶¶_____________________<br>
    _________¶¶¶¶¶¶¶___¶¶¶¶¶____¶¶¶¶¶¶¶¶¶¶¶¶¶¶________<br>
    ________¶¶__¶¶¶_____¶¶¶________¶_¶____¶¶¶¶¶_______<br>
    ________¶¶_________________¶¶¶¶¶___¶¶¶¶¶__¶_______<br>
    ________¶¶__________________¶¶¶¶___¶¶¶¶___¶_______<br>
    ______¶__ ¶_________________¶¶¶___________¶¶______<br>
    _____¶¶_¶¶¶_______________________________¶¶¶_____<br>
    _¶¶¶¶¶¶¶¶¶_________¶____________________¶__¶¶_____<br>
    ¶¶¶¶___¶¶______¶¶¶¶¶______¶_¶¶¶_________¶¶¶¶¶¶¶___<br>
    ¶¶_______________¶¶_______¶¶¶¶______________¶¶¶¶__<br>
    ¶¶¶________________________¶¶_________________¶¶__<br>
    _¶¶¶ _________________¶¶__________________¶____¶¶_<br>
    __¶¶ _____¶________¶¶¶¶¶_______________¶¶¶¶¶___¶¶_<br>
    __¶¶ __¶¶¶¶_________¶¶¶¶________________¶¶¶¶____¶¶<br>
    _¶¶___¶¶¶¶¶______________________________¶¶_____¶¶<br>
    ¶¶¶_____¶¶_____¶¶¶_¶¶¶¶¶¶_¶¶¶¶_¶¶¶___¶¶________¶¶¶<br>
    ¶¶ ______________¶_¶___¶¶__¶_¶_¶¶¶¶¶¶¶¶_______¶¶¶¶<br>
    ¶¶¶_____¶¶¶¶¶¶¶¶___¶¶___¶_¶¶¶_¶¶_¶¶¶¶¶______¶¶¶¶__<br>
    _¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶__¶¶__¶_¶¶¶¶¶____¶¶¶¶¶¶¶¶¶¶¶____<br>
    ___¶¶¶¶________¶¶¶¶¶_¶¶¶¶___¶¶______¶¶¶¶¶¶¶¶______<br>
    _________________¶¶¶__¶¶¶_¶¶¶_____________________<br>
    __________________¶¶______¶¶______________________<br>
    __________________¶¶__¶¶__¶¶¶¶¶¶¶¶¶¶______________<br>
    ______________ ¶¶¶¶¶_¶¶¶¶_¶¶¶¶_¶¶¶¶¶¶¶¶___________<br>
    __________¶¶¶¶¶¶¶¶¶__¶¶___¶________¶¶¶¶¶¶¶¶¶¶_____<br>
    __¶¶¶¶¶¶¶¶¶¶¶¶ ___¶¶__¶___¶____________¶¶¶¶¶¶¶¶¶¶_<br>
    ¶¶¶¶¶¶¶¶¶¶_______¶¶¶______¶_______________________<br>
    ________________ ¶¶_______¶¶______________________<br>
    ________________¶¶________¶¶¶_____________________<br>
    ______________¶¶¶__¶¶¶¶__¶¶_¶J¶___________________<br>
    ______________¶¶__¶¶__¶¶__¶__¶K¶__________________<br>
    ____________ ¶¶__¶¶____¶¶_¶___¶¶__________________<br>
</p>

{% endblock %}
</body>
</html>